<div class="container">
  <br>
  <div class="row">
    <div class="container">
      <h3> Log de actividades</h3>
    </div>
  </div>

    <form action="activity_logs" method="get">
      <div class="form-row">
        <div class="form-group col-md-3" >
          <label class="control-label">Bebés</label>
          <select name="baby_id" class="form-control">
            <option value="">Seleccionar bebé</option>
            <% @babies.each do |baby| %>
            <option <%= (baby.id.to_s == @filters[:baby_id]) ? 'selected' : '' %> value="<%= baby.id %>"><%= baby.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label">Asistentes</label>
          <select name="assistant_id" class="form-control">
            <option value="">Seleccionar asistente</option>
            <% @assistants.each do |assistant| %>
              <option <%= (assistant.id.to_s == @filters[:assistant_id]) ? 'selected' : '' %> value="<%= assistant.id %>"><%= assistant.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label">Estatus</label>
          <select name="status" class="form-control">
            <option value="">Todos</option>
            <option <%= ("true" == @filters[:status]) ? 'selected' : '' %> value="true">Terminado</option>
            <option <%= ("false" == @filters[:status]) ? 'selected' : '' %> value="false">En progreso</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label class="control-label d-block" >&nbsp;</label>
          <button class="btn btn-primary">Filtrar</button>
        </div>
      </div>
    </form>

  <table class="table ">
    <thead class="thead-light">
    <tr>
      <th>Bebé</th>
      <th>Assistente</th>
      <th>Actividad</th>
      <th>Inicio</th>
      <th>Estatus</th>
      <th>Duración</th>
    </tr>
    </thead>
    <tbody>
      <% @activity_logs.each do |activity_log| %>
        <tr>
          <td ><%= activity_log.baby.name %></td>
          <td ><%= activity_log.assistant.name %></td>
          <td ><%= activity_log.activity.name %></td>
          <td ><%= activity_log.start_time.in_time_zone(@time_zone).strftime("%Y-%m-%d %H:%M") %></td>
          <td ><%= activity_log.stop_time.present? ? "Terminado" : "En progreso" %></td>
          <td ><%= activity_log.duration.present? ? activity_log.duration : "*" %></td>
        </tr>
      <% end %>
      <% if @activity_logs.empty? %>
        <tr>
          <th colspan="6" class="text-center" scope="row">No se encontráron log de actividades</th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>