<div class="container">
  <div class="row">
    <div class="container text-center">
      <br>
      <h2>Lo sentimos parece que esta pagina no existe.</h2>
      <br>
      <a href=<%= activity_logs_path %>>Regresar al log de actividades</a>
    </div>
  </div>
</div>